SECRET_KEY="AASDASA46SD45AS6__KASND_)/"
DATABASE_URI="sqlite:///antiquario.db"

# jwt token expires in minutes
JWT_ACCESS_TOKEN_EXPIRES=3
# jwt refresh in days
JWT_REFRESH_TOKEN_EXPIRES=30
JWT_SECRET_KEY="SEGREDO-DEMAIS"

PRODUCT_IMAGES_PATH="app/static/public/products"

# development = True
SQLALCHEMY_TRACK_MODIFICATIONS=True